ListServiceProxy/Connected Services/ServiceReference/ListService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Afiniti.GlobalResources" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Afiniti.GlobalResources" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.32.5.80/GRM/ListService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Afiniti.DataModel.CustomEntities" />
  <xs:complexType name="WebHookObjectOfConfluenceDocumentsqZMeSq8m">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="WebHookObjectOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Afiniti.GlobalResources" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ConfluenceDocuments" Namespace="http://schemas.datacontract.org/2004/07/Afiniti.DataModel.CustomEntities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CallerApp" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Afiniti.DataModel.CustomEntities" minOccurs="0" name="Data" nillable="true" type="q1:ConfluenceDocuments" />
      <xs:element minOccurs="0" name="UTC_Time" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebHookObjectOfConfluenceDocumentsqZMeSq8m" nillable="true" type="tns:WebHookObjectOfConfluenceDocumentsqZMeSq8m" />
</xs:schema>