SecurityServiceProxy/Connected Services/SecurityServiceReference/SecurityService73.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Afiniti.GRM.SecurityService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Afiniti.GRM.SecurityService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.32.5.80/GRMSecurity/SecurityService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApprovalStatus" type="xs:short" />
      <xs:element minOccurs="0" name="CanImpersonate" type="xs:boolean" />
      <xs:element minOccurs="0" name="DMSMACApproval" type="xs:short" />
      <xs:element minOccurs="0" name="ETLApprovalStatus" type="xs:short" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GenieMobileApproval" type="xs:short" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="JiraMobileApproval" type="xs:short" />
      <xs:element minOccurs="0" name="OutlookGenieAttrMapping" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PMOApproval" type="xs:short" />
      <xs:element minOccurs="0" name="SecA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecQ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserKey" type="ser:guid" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserRemoteKey" nillable="true" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfContactAttribute">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContactAttribute" nillable="true" type="tns:ContactAttribute" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContactAttribute" nillable="true" type="tns:ArrayOfContactAttribute" />
  <xs:complexType name="ContactAttribute">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactAttributeId" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SortOrder" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Type" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactAttribute" nillable="true" type="tns:ContactAttribute" />
</xs:schema>