SecurityServiceProxy/Connected Services/ServiceReference_Local/SecurityService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6318/SecurityService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Afiniti.GRM.SecurityDTO" />
  <xs:import schemaLocation="http://localhost:6318/SecurityService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Afiniti.GRM.SecurityService" />
  <xs:import schemaLocation="http://localhost:6318/SecurityService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:6318/SecurityService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:6318/SecurityService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="GetUsersSecurityData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersSecurityDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Afiniti.GRM.SecurityDTO" minOccurs="0" name="GetUsersSecurityDataResult" nillable="true" type="q1:UserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserFromCrowd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserFromCrowdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Afiniti.GRM.SecurityDTO" minOccurs="0" name="AuthenticateUserFromCrowdResult" nillable="true" type="q2:CrowdUserObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserFromCrowdByEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserFromCrowdByEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Afiniti.GRM.SecurityDTO" minOccurs="0" name="AuthenticateUserFromCrowdByEmailResult" nillable="true" type="q3:CrowdUserObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserFromJira">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserFromJiraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthenticateUserFromJiraResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendApprovalRequestEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendApprovalRequestEmailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogUserSessionStartActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AuthenticationMetaData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogUserSessionStartActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogUserSessionStartActivityResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogUserSessionEndActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogUserSessionEndActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogUserSessionEndActivityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyUserSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccessURL" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyUserSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyUserSessionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInstance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInstanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Afiniti.GRM.SecurityService" minOccurs="0" name="GetUserInstanceResult" nillable="true" type="q4:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserSecretInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newQuestion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newAnswer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserSecretInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserSecretInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUserSessionByCrowdToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrowdToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUserSessionByCrowdTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateUserSessionByCrowdTokenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUserSessionByEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUserSessionByEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateUserSessionByEmailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUserSessionByUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUserSessionByUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateUserSessionByUsernameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOutFromCrowd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrowdToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOutFromCrowdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogOutFromCrowdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExpireUserSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CrowdToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExpireUserSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExpireUserSessionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSessionInDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CrowdToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSessionInDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveSessionInDBResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserObjectFromCrowdToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrowdSSOToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserObjectFromCrowdTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Afiniti.GRM.SecurityDTO" minOccurs="0" name="GetUserObjectFromCrowdTokenResult" nillable="true" type="q5:CrowdUserObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCrowdToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCrowdTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateCrowdTokenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersSecurityDataByToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrowdToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersSecurityDataByTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Afiniti.GRM.SecurityDTO" minOccurs="0" name="GetUsersSecurityDataByTokenResult" nillable="true" type="q6:UserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSSOTokenFromCrowd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrowdSSOToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSSOTokenFromCrowdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveSSOTokenFromCrowdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDataByEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userEmail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDataByEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Afiniti.GRM.SecurityService" minOccurs="0" name="GetUserDataByEmailResult" nillable="true" type="q7:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactAttributes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactAttributesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Afiniti.GRM.SecurityService" minOccurs="0" name="GetContactAttributesResult" nillable="true" type="q8:ArrayOfContactAttribute" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContactMapping">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mappedStr" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userRemoteKey" type="q9:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContactMappingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateContactMappingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserKeyByUserName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lstUserNames" nillable="true" type="q10:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserKeyByUserNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Afiniti.GRM.SecurityDTO" minOccurs="0" name="GetUserKeyByUserNameResult" nillable="true" type="q11:ArrayOfUser_Key_Mapping" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserNameByUserKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="lstUserKeys" nillable="true" type="q12:ArrayOfNullableOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserNameByUserKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Afiniti.GRM.SecurityDTO" minOccurs="0" name="GetUserNameByUserKeyResult" nillable="true" type="q13:ArrayOfUser_Key_Mapping" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsUserAdminResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllActiveUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllActiveUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Afiniti.GRM.SecurityDTO" minOccurs="0" name="GetAllActiveUsersResult" nillable="true" type="q14:ArrayOfUser_Key_Mapping" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Afiniti.GRM.SecurityDTO" minOccurs="0" name="AuthenticateUserResult" nillable="true" type="q15:REST_UserObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserGenieMobile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserGenieMobileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Afiniti.GRM.SecurityDTO" minOccurs="0" name="AuthenticateUserGenieMobileResult" nillable="true" type="q16:CrowdUserObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRemoteKeyByEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRemoteKeyByEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Afiniti.GRM.SecurityDTO" minOccurs="0" name="GetUserRemoteKeyByEmailResult" nillable="true" type="q17:CrowdUserObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendApprovalRequestEmailFromGenieMobile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendApprovalRequestEmailFromGenieMobileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutFromGenieMobile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrowdSSOToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutFromGenieMobileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogoutFromGenieMobileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenieAppConfig_IOS">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenieAppConfig_IOSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Afiniti.GRM.SecurityDTO" minOccurs="0" name="GetGenieAppConfig_IOSResult" nillable="true" type="q18:AppConfiguration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersSecurityDataByToken_CG">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrowdToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersSecurityDataByToken_CGResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Afiniti.GRM.SecurityDTO" minOccurs="0" name="GetUsersSecurityDataByToken_CGResult" nillable="true" type="q19:UserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateAndAuthorizeByCrowd_CG">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrowdSSOToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ControllerPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateAndAuthorizeByCrowd_CGResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Afiniti.GRM.SecurityDTO" minOccurs="0" name="AuthenticateAndAuthorizeByCrowd_CGResult" nillable="true" type="q20:UserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateByCrowd_CG">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrowdSSOToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateByCrowd_CGResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Afiniti.GRM.SecurityDTO" minOccurs="0" name="AuthenticateByCrowd_CGResult" nillable="true" type="q21:CrowdUserObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserGenieFinancials">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserGenieFinancialsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Afiniti.GRM.SecurityDTO" minOccurs="0" name="Response" nillable="true" type="q22:CrowdUserObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserAuthenticated_GenieFinancials">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrowdSSOToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserAuthenticated_GenieFinancialsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserJiraMobile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserJiraMobileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Afiniti.GRM.SecurityDTO" minOccurs="0" name="AuthenticateUserJiraMobileResult" nillable="true" type="q23:CrowdUserObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendApprovalRequestEmailFromJiraMobile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendApprovalRequestEmailFromJiraMobileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutFromJiraMobile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrowdSSOToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutFromJiraMobileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogoutFromJiraMobileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidUserToken_JiraMobile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="crowd_ssoToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidUserToken_JiraMobileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Afiniti.GRM.SecurityDTO" minOccurs="0" name="GetValidUserToken_JiraMobileResult" nillable="true" type="q24:CrowdUserObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJiraAppConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJiraAppConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Afiniti.GRM.SecurityDTO" minOccurs="0" name="GetJiraAppConfigResult" nillable="true" type="q25:AppConfiguration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserPMO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserPMOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Afiniti.GRM.SecurityDTO" minOccurs="0" name="AuthenticateUserPMOResult" nillable="true" type="q26:CrowdUserObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUser_DMSMAC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="AppKey" type="q27:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUser_DMSMACResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Afiniti.GRM.SecurityDTO" minOccurs="0" name="AuthenticateUser_DMSMACResult" nillable="true" type="q28:CrowdUserObjMobile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendApprovalRequestEmail_DMSMAC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendApprovalRequestEmail_DMSMACResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendApprovalRequestEmail_DMSMACResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout_DMSMAC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrowdSSOToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout_DMSMACResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Logout_DMSMACResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppConfig_DMSMAC">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="appKey" type="q29:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppConfig_DMSMACResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Afiniti.GRM.SecurityDTO" minOccurs="0" name="GetAppConfig_DMSMACResult" nillable="true" type="q30:AppConfiguration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidUserToken_DMSMAC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="crowd_ssoToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidUserToken_DMSMACResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Afiniti.GRM.SecurityDTO" minOccurs="0" name="GetValidUserToken_DMSMACResult" nillable="true" type="q31:CrowdUserObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Authenticate_TimeKeeping">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Afiniti.GRM.SecurityDTO" minOccurs="0" name="model" nillable="true" type="q32:AuthRequestModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Authenticate_TimeKeepingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Afiniti.GRM.SecurityDTO" minOccurs="0" name="Response" nillable="true" type="q33:UserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrowdAuthenticate_TimeKeeping">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Afiniti.GRM.SecurityDTO" minOccurs="0" name="model" nillable="true" type="q34:AuthRequestModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrowdAuthenticate_TimeKeepingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Afiniti.GRM.SecurityDTO" minOccurs="0" name="Response" nillable="true" type="q35:UserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout_TimeKeeping">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrowdSSOToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout_TimeKeepingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoggedOut" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserAuthenticated_TimeKeeping">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrowdSSOToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserAuthenticated_TimeKeepingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Authenticated" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCrowdTokenByUserName_TimeKeeping">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCrowdTokenByUserName_TimeKeepingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Afiniti.GRM.SecurityDTO" minOccurs="0" name="CreateCrowdToken" nillable="true" type="q36:CrowdUserObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Authenticate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Afiniti.GRM.SecurityDTO" minOccurs="0" name="model" nillable="true" type="q37:AuthRequestModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Afiniti.GRM.SecurityDTO" minOccurs="0" name="Response" nillable="true" type="q38:AuthResponseModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrowdSSOToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoggedOut" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserAuthenticated">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrowdSSOToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserAuthenticatedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Authenticated" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Afiniti.GRM.SecurityDTO" minOccurs="0" name="UsersList" nillable="true" type="q39:ArrayOfUser_Key_Mapping" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCrowdTokenByUserName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCrowdTokenByUserNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Afiniti.GRM.SecurityDTO" minOccurs="0" name="CreateCrowdToken" nillable="true" type="q40:CrowdUserObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>